.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.first-header {
  background-image: url("https://staticdelivery.nexusmods.com/images/110/4889843-1382145519.jpg");
  background-position-y: -216px;
background-repeat: no-repeat;
}

.header {
  color:antiquewhite;
  text-shadow: 0px 0px 15px #34C2CE;
}

.display-weather {
  border: 1px solid black;
  border-radius: 30px;
  background-color: antiquewhite;
}